// Resource script.
#include "bin_version.h"
#include <winres.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSIONINFO_MAJOR, VERSIONINFO_MINOR, VERSIONINFO_PATCH
 PRODUCTVERSION VERSIONINFO_MAJOR, VERSIONINFO_MINOR, VERSIONINFO_PATCH
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0" // 0x0409	U.S. English - Unicode
        BEGIN
            VALUE "CompanyName", VERSIONINFO_COMPANY
            VALUE "FileDescription", "DataBridge"
            VALUE "FileVersion", VERSIONINFO_FILEVERSION
            VALUE "InternalName", "databridge"
            VALUE "LegalCopyright", VERSIONINFO_COPYRIGHT
            VALUE "OriginalFilename", "next_databridge.exe"
            VALUE "ProductVersion", VERSIONINFO_PROJECTVERSION_STR
            VALUE "ProductName", "Next"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
